<div class="row"> 
    <div class="col-md-4 col-sm-12" *ngFor="let organismo of organismos" >
        <p-card  [header]="organismo.nombre" [subheader]="organismo.nombrec" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="organismo.imagen" height="250">
            </ng-template>
            <p>{{organismo.descripcion}}</p>
            <ng-template pTemplate="footer">
                <button pButton pRipple type="button" label="Ver más" class="p-button-rounded" icon="pi pi-search" iconPos="right"></button>
            </ng-template>
        </p-card>
    </div>  
</div>


