<div class="mt-2">
    <p-toolbar >
        <div class="p-toolbar-group-left">
            <!-- <input class="form-control" type="file" accept=".txt" (change)="onUpload($event)"> -->
            <p-dropdown [options]="opcionCarga" [(ngModel)]="opcionCargaSeleccionada" placeholder="Metodo secuencia" optionLabel="tipo" [showClear]="true" (onChange)="cambiosIngresoSecuencia()"></p-dropdown>
            <div *ngIf="opcionCargaSeleccionada">
                <div  *ngIf="opcionCargaSeleccionada.tipo === 'Manual'">
                    <input (input)="inputSecuenciaIngresada($event.target)" class="mx-1" type="text" pInputText [pKeyFilter]="regexSecuencia" placeholder="Digite secuencia">
                </div>            
            </div>
            <div *ngIf="opcionCargaSeleccionada">
                <div  *ngIf="opcionCargaSeleccionada.tipo === 'Archivo'">
                    <input class="form-control mx-1" type="file" accept=".fasta" (change)="cargaArchivo($event)">
                </div>            
            </div>
            <i class="p-toolbar-separator pi pi-bars mr-2" style="vertical-align: middle"></i>
            <p-toggleButton class="mx-1" [(ngModel)]="opcionBase" onLabel="Base" offLabel="Base" offIcon="pi pi-times"  onIcon="pi-check" [style]="{'width': '10em'}" ></p-toggleButton>
            <p-dropdown [disabled]="opcionBase" [options]="organismos" [(ngModel)]="orgSeleccionadoBase" placeholder="Selecciona organismo" optionLabel="nombre" [showClear]="true"></p-dropdown>
            <i class="p-toolbar-separator pi pi-bars mr-2" style="vertical-align: middle"></i>
            <p-dropdown (onChange)="cambiosTipoAlineamiento()" [options]="opcionAlineamiento" [(ngModel)]="opcionAlineamientoSeleccionada" placeholder="Selecciona alineamiento" optionLabel="tipo" [showClear]="true"></p-dropdown>
        </div>     
        <div class="p-toolbar-group-right">
        </div>
    </p-toolbar>
</div>

<!-- Alerta de errores -->
<div *ngIf="contieneErrores" class="row">
    <div class="col-12 text-center">
        <p-messages [(value)]="mensajeError" [enableService]="false"></p-messages>
    </div>
</div>

<!-- Alineamiento local rangos -->
<div *ngIf="opcionAlineamientoSeleccionada">
    <div class="mx-5">
        <div class="mx-5">
            <div *ngIf="opcionAlineamientoSeleccionada.tipo === 'Alineamiento Local'" class="row mx-5 text-center">
                <div class="col-12 mt-1">
                    <h5 class="my-3">Base: {{rangoValoresBase[0] + ' - ' + rangoValoresBase[1]}}</h5>
                    <p-slider [(ngModel)]="rangoValoresBase" [range]="true" [max]="maximo"></p-slider>
                </div> 
                <div class="col-12 mt-1">
                    <h5 class="my-3">Ingresada: {{rangoValoresIngresada[0] + ' - ' + rangoValoresIngresada[1]}}</h5>
                    <p-slider [(ngModel)]="rangoValoresIngresada" [range]="true" [max]="organismoSeleccionado.secuencia.length"></p-slider> 
                </div>  
            </div>
        </div>
    </div>          
</div>  

<!-- alineamiento needleman -->
<div *ngIf="opcionAlineamientoSeleccionada" class="mx-5">
    <div class="mx-5">
        <div class="mx-5">
            <div  *ngIf="opcionAlineamientoSeleccionada.tipo === 'Needleman and Wunsch'" class="row mx-5 mt-4">
                <div class="col-md-4">
                    <span class="p-float-label">
                        <input type="number" pInputText [(ngModel)]="valoresNeedleman.coincidencia" (input)="inputsNeedleman()">
                        <label for="inputtext">Coincidencia</label>
                    </span> 
                </div>
                <div class="col-md-4">
                    <span class="p-float-label">
                        <input type="number" pInputText [(ngModel)]="valoresNeedleman.noCoincidencia" (input)="inputsNeedleman()">
                        <label for="inputtext">No coincidencia</label>
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="p-float-label">
                        <input type="number" pInputText [(ngModel)]="valoresNeedleman.gap" (input)="inputsNeedleman()">
                        <label for="inputtext">Costo gap</label>
                    </span> 
                </div>
            </div> 
        </div> 
    </div>          
</div> 

<!-- Diferentes vistas -->
<div class="row">
    <div class="col">
        <div *ngIf="opcionAlineamientoSeleccionada" class="mt-3">
            <div *ngIf="opcionAlineamientoSeleccionada.tipo === 'Needleman and Wunsch'">
                <app-needleman [cambio]="cambio" [valoresNeedleman]="valoresNeedleman" [contieneErrores]="contieneErrores" [banderaComparacion]="opcionBase" [secuenciaIngresada]="organismoSeleccionado" [organismoSeleccionado]="orgSeleccionadoBase" [secuenciasBase]="organismos"></app-needleman>
            </div>
            <div *ngIf="opcionAlineamientoSeleccionada.tipo === 'Alineamiento Global'">
                <app-global [contieneErrores]="contieneErrores" [banderaComparacion]="opcionBase" [secuenciaIngresada]="organismoSeleccionado" [organismoSeleccionado]="orgSeleccionadoBase" [secuenciasBase]="organismos"></app-global>
            </div>
            <div *ngIf="opcionAlineamientoSeleccionada.tipo === 'Alineamiento Local'">
                <app-local [rangoValoresBase]="rangoValoresBase" [rangoValoresIngresada]="rangoValoresIngresada" [contieneErrores]="contieneErrores" [banderaComparacion]="opcionBase" [secuenciaIngresada]="organismoSeleccionado" [organismoSeleccionado]="orgSeleccionadoBase" [secuenciasBase]="organismos"></app-local>
            </div>
            <div *ngIf="opcionAlineamientoSeleccionada.tipo === 'Dotplot'" class="mx-5" >
                <div class="mx-5">
                    <div class="mx-5">
                        <app-dotplot [secuenciaI]="organismoSeleccionado" [secuenciaB]="orgSeleccionadoBase"></app-dotplot>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>