
<div *ngIf="secuenciaIngresada">
    <div class="col-12" *ngIf="banderaComparacion">
        <!-- secuencia ingresada -->
        
        <div *ngFor="let resultado of arrayResultados; let i = index">
    
            <span class="badge fs-6 p-2" id="fondoInformacion">
                <b> <i class="pi pi-angle-double-right"></i> Organismo: </b> {{secuenciasBase[i].nombrec}} ,
                <b> <i class="pi pi-chart-bar"></i> Puntuacion: </b> {{resultado.puntuacion}} 
                <span *ngIf="resultado.porcentaje"><b> <i class="pi pi-percentage"></i>,  Porcentaje: </b> {{resultado.porcentaje}}</span>
            </span>
    
            <ul class="letras-lista">
                <li *ngFor="let l of secuenciaIngresadaModi.split(''); let y = index" class="text-center">
                    {{secuenciaIngresadaModi[y]}}
                </li>
            </ul>
    
            <ul class="letras-lista">
                <li *ngFor="let letra of resultado.cadena.split(''); let j = index" class="text-center">
                    {{letra}}
                </li>
            </ul>
    
            <ul class="letras-lista">
                <li *ngFor="let letra of resultado.cadena.split(''); let j = index" class="text-center">
                    <div id="fondoComparacion" *ngIf="letra === '|'; else otro">
                        {{secuenciasBase[i].secuencia[j]}}
                    </div>
                    <ng-template #otro>
                        {{secuenciasBase[i].secuencia[j]}}
                    </ng-template>
                </li>
            </ul>
            <br>
            
        </div>
    </div>
    
    <div class="col-12" *ngIf="!banderaComparacion">
        <div *ngIf="organismoSeleccionado">
            <span class="badge fs-6 p-2" id="fondoInformacion">
                <b> <i class="pi pi-angle-double-right"></i> Nombre secuencia: </b> {{organismoSeleccionado.nombrec}} ,
                <b> <i class="pi pi-chart-bar"></i> Puntuacion: </b> {{arrayResultados[0].puntuacion}} 
                <span *ngIf="arrayResultados[0].porcentaje"><b> <i class="pi pi-percentage"></i>,  Porcentaje: </b> {{arrayResultados[0].porcentaje}}</span>
                </span>
        
            <ul class="letras-lista">
                <li *ngFor="let l of secuenciaIngresadaModi.split(''); let y = index" class="text-center">
                    {{secuenciaIngresadaModi[y]}}
                </li>
            </ul>
        
            <div *ngFor="let resultado of arrayResultados; let i = index">
                <ul class="letras-lista">
                    <li *ngFor="let letra of resultado.cadena.split(''); let j = index" class="text-center">
                        {{letra}}
                    </li>
                </ul>
            </div>
        
            <div *ngFor="let resultado of arrayResultados; let i = index">
                <ul class="letras-lista">
                    <li *ngFor="let letra of resultado.cadena.split(''); let j = index" class="text-center">
                        <div id="fondoComparacion" *ngIf="letra === '|'; else otro">
                            {{organismoSeleccionado.secuencia[j]}}
                        </div>
                        <ng-template #otro>
                            {{organismoSeleccionado.secuencia[j]}}
                        </ng-template>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
        
</div>